<div class="button_center">
  <input type="button" value="Browse All Stories" onclick="location.href=''" class="button_style">
</div>

<div class="button_center">
  <input type="button" value="Browse By Genre" onclick="location.href=''" class="button_style">
</div>

<div class="button_center">
  <input type="button" value="Write a New Story" onclick="location.href=''" class="button_style">
</div>

<div class="button_center">
  <input type="button" value="My Stories" onclick="location.href=''" class="button_style">
</div>
