<div class="signup_form">
  <form action="/signup" method="POST">
    <p>Username:</p>
    <input type="text" name="user[name]" class="edit_short">

    <p>Password:</p>
    <input type="password" name="user[password]" class="edit_short">

    <p>Confirm Password:</p>
    <input type="password" name="user[password_confirmation]" class="edit_short">

    <p>Email:</p>
    <input type="text" name="user[email]" class="edit_short">

    <div class="button_center">
        <input type="submit" value="Signup"  class="button_style">
    </div>
  </form>
</div>
